In [1]:
import pandas as pd
import numpy as np

In [2]:
station_data_1 = pd.read_csv('/home/kyohei/bike_share_data/201402_babs_open_data/201402_station_data.csv')
station_data_2 = pd.read_csv('/home/kyohei/bike_share_data/201408_babs_open_data/201408_station_data.csv')
station_data_3 = pd.read_csv('/home/kyohei/bike_share_data/201508_station_data.csv')
station_data_4 = pd.read_csv('/home/kyohei/bike_share_data/201608_station_data.csv')

In [3]:
station_data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 7 columns):
station_id      69 non-null int64
name            69 non-null object
lat             69 non-null float64
long            69 non-null float64
dockcount       69 non-null int64
landmark        69 non-null object
installation    69 non-null object
dtypes: float64(2), int64(2), object(3)
memory usage: 3.8+ KB

In [4]:
station_data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 7 columns):
station_id      70 non-null int64
name            70 non-null object
lat             70 non-null float64
long            70 non-null float64
dockcount       70 non-null int64
landmark        70 non-null object
installation    70 non-null object
dtypes: float64(2), int64(2), object(3)
memory usage: 3.9+ KB

In [5]:
station_data_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 7 columns):
station_id      70 non-null int64
name            70 non-null object
lat             70 non-null float64
long            70 non-null float64
dockcount       70 non-null int64
landmark        70 non-null object
installation    70 non-null object
dtypes: float64(2), int64(2), object(3)
memory usage: 3.9+ KB

In [6]:
station_data_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992 entries, 0 to 991
Data columns (total 7 columns):
station_id      67 non-null float64
name            67 non-null object
lat             67 non-null float64
long            67 non-null float64
dockcount       67 non-null float64
landmark        67 non-null object
installation    67 non-null object
dtypes: float64(4), object(3)
memory usage: 54.3+ KB

In [8]:
station_data_2.tail()

,station_id,name,lat,long,dockcount,landmark,installation
65,77,Market at Sansome,37.789625,-122.400811,27,San Francisco,8/25/2013
66,80,San Jose Government Center,37.352601,-121.905733,15,San Jose,12/31/2013
67,82,Broadway St at Battery St,37.798541,-122.400862,15,San Francisco,1/22/2014
68,83,Mezes Park,37.491269,-122.236234,15,Redwood City,2/20/2014
69,84,Ryland Park,37.342725,-121.895617,15,San Jose,4/9/2014

In [29]:
station_data_1['installation'] = pd.to_datetime(station_data_1.installation)
station_data_2['installation'] = pd.to_datetime(station_data_2.installation)
station_data_3['installation'] = pd.to_datetime(station_data_3.installation)
station_data_4['installation'] = pd.to_datetime(station_data_4.installation)

In [30]:
station_data_4.dropna(inplace=True)

In [34]:
station_data_4['station_id'] = station_data_4['station_id'].astype(int)

In [41]:
a = pd.concat([station_data_1,station_data_2,station_data_3,station_data_4],axis=0).drop_duplicates()

In [58]:
a[a.station_id.isin(a[a.station_id.duplicated()]['station_id'])].sort_values('station_id')

,station_id,name,lat,long,dockcount,landmark,installation
16,23,San Mateo County Center,37.488501,-122.231061,15.0,Redwood City,2013-08-15
16,23,San Mateo County Center,37.487616,-122.229951,15.0,Redwood City,2013-08-15
18,25,Broadway at Main,37.486725,-122.225551,15.0,Redwood City,2013-08-12
18,25,Stanford in Redwood City,37.485370,-122.203288,15.0,Redwood City,2013-08-12
23,30,Evelyn Park and Ride,37.390277,-122.066553,15.0,Mountain View,2013-08-16
63,30,Middlefield Light Rail Station,37.395337,-122.052476,15.0,Mountain View,2015-09-28
66,33,Charleston Park/ North Bayshore Area,37.420909,-122.080623,15.0,Mountain View,2015-09-28
26,33,Rengstorff Avenue / California Street,37.400241,-122.099076,15.0,Mountain View,2013-08-16
39,49,Spear at Folsom,37.789625,-122.390264,19.0,San Francisco,2013-08-20
38,49,Spear at Folsom,37.790302,-122.390637,19.0,San Francisco,2013-08-20
57,69,San Francisco Caltrain 2 (330 Townsend),37.776377,-122.396070,23.0,San Francisco,2013-08-23
57,69,San Francisco Caltrain 2 (330 Townsend),37.776600,-122.395470,23.0,San Francisco,2013-08-23
60,72,Civic Center BART (7th at Market),37.781039,-122.411748,23.0,San Francisco,2013-08-23
60,72,Civic Center BART (7th at Market),37.780356,-122.412919,23.0,San Francisco,2013-08-23
61,73,Grant Avenue at Columbus Avenue,37.798522,-122.407245,15.0,San Francisco,2013-08-21
47,73,Grant Avenue at Columbus Avenue,37.797900,-122.405942,19.0,San Francisco,2016-05-19
66,80,Santa Clara County Civic Center,37.352601,-121.905733,15.0,San Jose,2013-12-31
66,80,San Jose Government Center,37.352601,-121.905733,15.0,San Jose,2013-12-31

In [61]:
station_data_1[station_data_1.station_id==80]

,station_id,name,lat,long,dockcount,landmark,installation
66,80,San Jose Government Center,37.352601,-121.905733,15,San Jose,2013-12-31

In [62]:
station_data_2[station_data_2.station_id==80]

,station_id,name,lat,long,dockcount,landmark,installation
66,80,San Jose Government Center,37.352601,-121.905733,15,San Jose,2013-12-31

In [63]:
station_data_3[station_data_3.station_id==80]

,station_id,name,lat,long,dockcount,landmark,installation
66,80,Santa Clara County Civic Center,37.352601,-121.905733,15,San Jose,2013-12-31

In [64]:
station_data_4[station_data_4.station_id==80]

,station_id,name,lat,long,dockcount,landmark,installation
14,80,Santa Clara County Civic Center,37.352601,-121.905733,15.0,San Jose,2013-12-31

In [54]:
a[a.station_id.duplicated()]['station_id'].values

array([23, 25, 49, 69, 72, 80, 73, 30, 33])

In [56]:
a.station_id.isin(a[a.station_id.duplicated()]['station_id'])

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16     True
17    False
18     True
19    False
20    False
21    False
22    False
23     True
24    False
25    False
26     True
27    False
28    False
29    False
      ...
53    False
54    False
55    False
56    False
57     True
58    False
59    False
60     True
61     True
62    False
63    False
64    False
65    False
66     True
67    False
68    False
69    False
16     True
18     True
38     True
57     True
60     True
66     True
16    False
17    False
47     True
53    False
54    False
63     True
66     True
Name: station_id, dtype: bool