In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
status = pd.read_csv('/home/kyohei/bike_share_data/201608_status_data.csv')

In [3]:
status.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35517185 entries, 0 to 35517184
Data columns (total 4 columns):
station_id         int64
bikes_available    int64
docks_available    int64
time               object
dtypes: int64(3), object(1)
memory usage: 1.1+ GB

In [4]:
status.head()

   station_id  bikes_available  docks_available               time
0           2               18                9  9/1/2015 00:00:02
1           2               18                9  9/1/2015 00:01:02
2           2               18                9  9/1/2015 00:02:02
3           2               18                9  9/1/2015 00:03:03
4           2               18                9  9/1/2015 00:04:02

# スタートが多いステーション
- 70,San Francisco Caltrain
- 69,San Francisco Caltrain 2
- 50,Harry Bridges Plaza

In [5]:
SF_cal = status[status.station_id==70]
SF_cal_2 = status[status.station_id==69]
HB_plaza = status[status.station_id==50]

In [6]:
SF_cal.head()

          station_id  bikes_available  docks_available               time
29412951          70               15                4  9/1/2015 00:00:02
29412952          70               15                4  9/1/2015 00:01:02
29412953          70               15                4  9/1/2015 00:02:02
29412954          70               15                4  9/1/2015 00:03:03
29412955          70               15                4  9/1/2015 00:04:02

# スタートが平均的なステーション
- 51,Embarcadero as Folsom
- 62,2nd as Folsom
- 56,Beale as Market

# スタートが少ないステーション
- 91,Cyril Magnin St as Ellis St
- 90,5th St as Folsom St
- 58,San Francisco City Hall

# 返却が多いステーション
- スタートが多い場合と一緒なので省略

# 返却が平均的なステーション
- 51,Embarcadero as Folsom←スタートが平均的な時と一緒
- 64,2nd at South Park
- 39,Powell Street BART

# スタートが少ないステーション
- スタートの場合と一緒なので省略