In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Harry Bridges Plaza (Ferry Building)の需要予測

In [2]:
trip1 = pd.read_csv('/home/kyohei/bike_share_data/201402_babs_open_data/201402_trip_data.csv')
trip2 = pd.read_csv('/home/kyohei/bike_share_data/201408_babs_open_data/201408_trip_data.csv')
trip3 = pd.read_csv('/home/kyohei/bike_share_data/201508_trip_data.csv')
trip4 = pd.read_csv('/home/kyohei/bike_share_data/201608_trip_data.csv')

In [3]:
#trip1のcolumns名の変更
trip1.rename(columns={'Subscription Type':'Subscriber Type'},inplace=True)

In [4]:
#tripdataの結合
trip = pd.concat([trip1,trip2,trip3,trip4],axis=0,ignore_index=True)

In [5]:
#tripのスタートターミナルの限定
trip_hbp_start = trip[trip['Start Terminal']==50]

#datetimeに変換
trip_hbp_start['Start Date'] = trip_hbp_start['Start Date'].apply(lambda x:pd.to_datetime(x))

#年
trip_hbp_start['start_year'] = trip_hbp_start['Start Date'].apply(lambda x:x.date().year)

#月
trip_hbp_start['start_month'] = trip_hbp_start['Start Date'].apply(lambda x:x.date().month)

#曜日
trip_hbp_start['start_dayofweek'] = trip_hbp_start['Start Date'].apply(lambda x:x.dayofweek)

import datetime
#時刻
trip_hbp_start['start_time'] = trip_hbp_start['Start Date'].apply(lambda x:x.time())

/home/kyohei/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/kyohei/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/kyohei/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/kyohei/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/kyohei/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [6]:
trip_hbp_start.head()

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscriber Type,Zip Code,start_year,start_month,start_dayofweek,start_time
67,4748,240,2013-08-29 16:56:00,Harry Bridges Plaza (Ferry Building),50,8/29/2013 17:00,Beale at Market,56,626,Subscriber,94122,2013,8,3,16:56:00
76,4423,254,2013-08-29 12:50:00,Harry Bridges Plaza (Ferry Building),50,8/29/2013 12:54,Clay at Battery,41,544,Subscriber,94070,2013,8,3,12:50:00
110,4392,323,2013-08-29 12:34:00,Harry Bridges Plaza (Ferry Building),50,8/29/2013 12:39,Embarcadero at Vallejo,48,428,Subscriber,94123,2013,8,3,12:34:00
131,4570,351,2013-08-29 14:06:00,Harry Bridges Plaza (Ferry Building),50,8/29/2013 14:12,Washington at Kearney,46,275,Subscriber,94109,2013,8,3,14:06:00
132,4278,353,2013-08-29 11:52:00,Harry Bridges Plaza (Ferry Building),50,8/29/2013 11:58,Commercial at Montgomery,45,596,Subscriber,94123,2013,8,3,11:52:00

### weather

In [7]:
weather1 = pd.read_csv('/home/kyohei/bike_share_data/201402_babs_open_data/201402_weather_data.csv')
weather2 = pd.read_csv('/home/kyohei/bike_share_data/201408_babs_open_data/201408_weather_data.csv')
weather3 = pd.read_csv('/home/kyohei/bike_share_data/201508_weather_data.csv')
weather4 = pd.read_csv('/home/kyohei/bike_share_data/201608_weather_data.csv')

In [8]:
#columnsの修正
weather2.columns = weather2.columns.str.strip()
weather3.columns = weather3.columns.str.strip()
weather4.columns = weather4.columns.str.strip()
weather1.columns = weather2.columns
weather4.rename(columns={'ZIP':'Zip'},inplace=True)

In [9]:
#weatherの統合
weather = pd.concat([weather1,weather2,weather3,weather4],axis=0)

In [10]:
#dateの変換
weather['PDT'] = weather['PDT'].apply(lambda x:pd.to_datetime(x))

In [11]:
weather_SF = weather[weather.Zip==95113]

### status

In [12]:
status1 = pd.read_csv('/home/kyohei/bike_share/data_split_2013/San Francisco_station_status_stid50.csv')
status2 = pd.read_csv('/home/kyohei/bike_share/data_split_2014/San Francisco_station_status_stid50.csv')
status3 = pd.read_csv('/home/kyohei/bike_share/data_split_2015/San Francisco_station_status_stid50.csv')

In [13]:
status = pd.concat([status1,status2,status3],axis=0)

In [14]:
#datetime
status['time'] = status['time'].apply(lambda x:pd.to_datetime(x))

#時間情報
status['time_hour_minute'] = status['time'].apply(lambda x:datetime.time(x.time().hour,x.time().minute))

In [15]:
status = status.reset_index()

In [16]:
status.head()

,index,Unnamed: 0,station_id,bikes_available,docks_available,time,time_hour_minute
0,0,9809414,50,7,16,2013-08-29 12:06:01,12:06:00
1,1,9809415,50,7,16,2013-08-29 12:07:01,12:07:00
2,2,9809416,50,7,16,2013-08-29 12:08:01,12:08:00
3,3,9809417,50,7,16,2013-08-29 12:09:01,12:09:00
4,4,9809418,50,7,16,2013-08-29 12:10:01,12:10:00

In [17]:
status['time'] = status['time'].apply(lambda x:datetime.datetime(x.year,x.month,x.day,x.hour,x.minute))

### 統合前のデータ準備

In [18]:
#目的変数の作成
target = pd.DataFrame(trip_hbp_start.groupby('Start Date').size()).reset_index()

#columnの変換
target.rename(columns={0:'Count'},inplace=True)

In [19]:
#weather
T_mapping = {'T':0}
f = lambda x:T_mapping.get(x,x)
weather_SF['PrecipitationIn'] = weather_SF.PrecipitationIn.map(f).astype(float)

/home/kyohei/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
#weather
event_dummy = pd.get_dummies(weather_SF.Events)

weather_SF_mod = pd.concat([weather_SF,event_dummy],axis=1)

weather_SF_sub = weather_SF_mod.drop(['Events','Max Gust SpeedMPH','Zip'],axis=1)

#前日データ
weather_SF_sub_yesterday = pd.concat([weather_SF_sub[['PDT']],weather_SF_sub.shift(1).drop(['PDT'],axis=1)],axis=1).dropna()

In [79]:
weather_SF_sub_yesterday.head()

,PDT,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,PrecipitationIn,CloudCover,WindDirDegrees,Fog,Fog-Rain,Rain,Rain-Thunderstorm
737,2013-08-30,81.0,72.0,63.0,62.0,61.0,59.0,87.0,69.0,51.0,...,10.0,16.0,7.0,0.0,4.0,320.0,0.0,0.0,0.0,0.0
738,2013-08-31,88.0,76.0,63.0,63.0,60.0,55.0,93.0,65.0,37.0,...,10.0,18.0,5.0,0.0,2.0,316.0,0.0,0.0,0.0,0.0
739,2013-09-01,80.0,71.0,62.0,59.0,57.0,54.0,90.0,66.0,42.0,...,10.0,18.0,8.0,0.0,0.0,309.0,0.0,0.0,0.0,0.0
740,2013-09-02,81.0,72.0,62.0,61.0,57.0,51.0,84.0,62.0,39.0,...,10.0,20.0,7.0,0.0,2.0,308.0,0.0,0.0,0.0,0.0
741,2013-09-03,79.0,73.0,66.0,62.0,61.0,59.0,81.0,68.0,54.0,...,10.0,21.0,8.0,0.0,5.0,315.0,0.0,0.0,1.0,0.0

In [21]:
#Status
status_sub = status[['bikes_available','docks_available','time','time_hour_minute']]

#年
status_sub['year'] = status_sub['time'].apply(lambda x:x.year)

#月
status_sub['month'] = status_sub['time'].apply(lambda x:x.month)

#曜日
status_sub['dayofweek'] = status_sub['time'].apply(lambda x:x.dayofweek)
weekday = {0:'monday',1:'tuseday',2:'wednseday',3:'thursday',4:'friday',5:'saturday',6:'sunday'}
status_sub['dayofweek'] = status_sub['dayofweek'].map(weekday)

#時
status_sub['hour'] = status_sub['time'].apply(lambda x:x.hour)

#日付
status_sub['day'] = status['time'].apply(lambda x:pd.to_datetime(x.date()))

/home/kyohei/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/kyohei/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [50]:
#dummy変数づくり
#年
dummy_year = pd.get_dummies(status_sub.year,prefix='year')

#時刻
#dummy_time = pd.get_dummies(status_sub.time_hour_minute)
dummy_hour = pd.get_dummies(status_sub.hour,prefix='time')

#月
dummy_month = pd.get_dummies(status_sub.month,prefix='month')

#曜日
dummy_weekday = pd.get_dummies(status_sub.dayofweek)

In [65]:
#dummyの統合
status_dummies = pd.concat([dummy_year,dummy_hour,dummy_month,dummy_weekday],axis=1)

In [88]:
#元データと統合
status_train = pd.concat([status_sub[['bikes_available','docks_available','time','day']],status_dummies],axis=1)

### 天気、ステータス、目的変数の統合

In [89]:
data = status_train.merge(weather_SF_sub_yesterday,left_on='day',right_on='PDT',how='inner')

In [96]:
data_comp = data.merge(target,left_on='time',right_on='Start Date',how='left')

In [99]:
data_comp_sub = data_comp.drop(['time','day','PDT','Start Date'],axis=1)

In [104]:
data_comp_sub_drop_dup = data_comp_sub.drop_duplicates()

In [105]:
data_comp_sub_drop_dup.fillna(0,inplace=True)

/home/kyohei/anaconda2/lib/python2.7/site-packages/pandas/core/frame.py:2762: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [124]:
y = data_comp_sub_drop_dup['Count']
X = data_comp_sub_drop_dup.drop('Count',axis=1)

In [130]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121606 entries, 0 to 1558735
Data columns (total 73 columns):
bikes_available              121606 non-null int64
docks_available              121606 non-null int64
year_2013                    121606 non-null float64
year_2014                    121606 non-null float64
year_2015                    121606 non-null float64
year_2016                    121606 non-null float64
time_0                       121606 non-null float64
time_1                       121606 non-null float64
time_2                       121606 non-null float64
time_3                       121606 non-null float64
time_4                       121606 non-null float64
time_5                       121606 non-null float64
time_6                       121606 non-null float64
time_7                       121606 non-null float64
time_8                       121606 non-null float64
time_9                       121606 non-null float64
time_10                      121606 non-null float64
time_11                      121606 non-null float64
time_12                      121606 non-null float64
time_13                      121606 non-null float64
time_14                      121606 non-null float64
time_15                      121606 non-null float64
time_16                      121606 non-null float64
time_17                      121606 non-null float64
time_18                      121606 non-null float64
time_19                      121606 non-null float64
time_20                      121606 non-null float64
time_21                      121606 non-null float64
time_22                      121606 non-null float64
time_23                      121606 non-null float64
month_1                      121606 non-null float64
month_2                      121606 non-null float64
month_3                      121606 non-null float64
month_4                      121606 non-null float64
month_5                      121606 non-null float64
month_6                      121606 non-null float64
month_7                      121606 non-null float64
month_8                      121606 non-null float64
month_9                      121606 non-null float64
month_10                     121606 non-null float64
month_11                     121606 non-null float64
month_12                     121606 non-null float64
friday                       121606 non-null float64
monday                       121606 non-null float64
saturday                     121606 non-null float64
sunday                       121606 non-null float64
thursday                     121606 non-null float64
tuseday                      121606 non-null float64
wednseday                    121606 non-null float64
Max TemperatureF             121606 non-null float64
Mean TemperatureF            121606 non-null float64
Min TemperatureF             121606 non-null float64
Max Dew PointF               121606 non-null float64
MeanDew PointF               121606 non-null float64
Min DewpointF                121606 non-null float64
Max Humidity                 121606 non-null float64
Mean Humidity                121606 non-null float64
Min Humidity                 121606 non-null float64
Max Sea Level PressureIn     121606 non-null float64
Mean Sea Level PressureIn    121606 non-null float64
Min Sea Level PressureIn     121606 non-null float64
Max VisibilityMiles          121606 non-null float64
Mean VisibilityMiles         121606 non-null float64
Min VisibilityMiles          121606 non-null float64
Max Wind SpeedMPH            121606 non-null float64
Mean Wind SpeedMPH           121606 non-null float64
PrecipitationIn              121606 non-null float64
CloudCover                   121606 non-null float64
WindDirDegrees               121606 non-null float64
Fog                          121606 non-null float64
Fog-Rain                     121606 non-null float64
Rain                         121606 non-null float64
Rain-Thunderstorm            121606 non-null float64
dtypes: float64(71), int64(2)
memory usage: 68.7 MB

In [125]:
from sklearn.cross_validation import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=0)

In [131]:
from sklearn.preprocessing import StandardScaler

std = StandardScaler()
std_columns = ['bikes_available','docks_available','Max TemperatureF','Mean TemperatureF','Min TemperatureF','Max Dew PointF',
'MeanDew PointF','Min DewpointF','Max Humidity','Mean Humidity','Min Humidity','Max Sea Level PressureIn',
'Mean Sea Level PressureIn','Min Sea Level PressureIn','Max Wind SpeedMPH','Mean Wind SpeedMPH','PrecipitationIn',
'CloudCover','WindDirDegrees']
std.fit(X_train[std_columns])
X_train_std = std.transform(X_train[std_columns])
X_test_std = std.transform(X_test[std_columns])

In [140]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(multi_class='multinomial')
clf.fit(X_train_std,y_train)

ValueError: Solver liblinear does not support a multinomial backend.

In [133]:
print(clf.score(X_train_std,y_train))

0.723301609579

In [139]:
clf.predict_proba(X_train_std)

array([[  6.88799501e-01,   2.62194854e-01,   4.40826044e-02, ...,
          4.56730166e-04,   1.32792383e-04,   2.58634275e-04],
       [  7.10076302e-01,   2.37071115e-01,   4.61362450e-02, ...,
          1.26031562e-03,   1.49938579e-04,   1.40630693e-04],
       [  7.22035632e-01,   2.40467031e-01,   3.12541111e-02, ...,
          7.68116587e-04,   4.73732932e-04,   2.54945333e-04],
       ...,
       [  6.90340339e-01,   2.57132809e-01,   4.62312102e-02, ...,
          7.14005677e-04,   8.44710145e-05,   1.18897809e-04],
       [  7.10916870e-01,   2.38191707e-01,   4.38668660e-02, ...,
          1.04550050e-03,   1.10722071e-04,   7.66078542e-05],
       [  7.31797032e-01,   2.27014493e-01,   3.47023730e-02, ...,
          1.08454594e-03,   1.78347694e-04,   1.31933663e-04]])